body {
  width: 300px;
  margin: 0 auto;
  -webkit-user-select: none;
  user-select: none;
}

header {
  text-align: center;
}

.increment, .decrement {
  border: 1px solid #EFEFEF;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
}

.score {
  border: 1px solid #EFEFEF;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

@media screen and (max-width :302px) {
  body {
    width: 99%;
    width: calc(100% - 2px);
  }
}